@font-face {
  font-family: PulsarOriginal;
  src: url("./fonts/pulsar-original.otf") format("opentype");
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto.ttf") format("opentype");
}

@font-face {
  font-family: Aire Exterior;
  src: url("./fonts/AireExterior.ttf") format("opentype");
}

h2 {
  color: #fff;
  font-family: Aire Exterior;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: #00c5ff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h6 {
  color: #57d6ff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%;
}

h5 {
  color: #ababab;
  font-family: Roboto;
  font-size: 21.33px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

hr {
  width: 50px;
  height: 0px;
  margin-right: 40px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #57d6ff;
  border: 1px solid rgb(49, 196, 232);
}

.line_text {
  display: flex;
  align-items: center;
  margin-bottom: -60px;
}

.header_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

/* Header */

.topbar {
  clear: both;
  display: flex;
  justify-content: space-around;
  padding: 25px;
  transition: all 0.3s ease;
  width: 100%;
  height: 123px;
  flex-shrink: 0;
  background: #141c24;
  align-content: stretch;
  align-items: center;
  z-index: 10;
}

.topbar.scrolled {
  position: fixed;
  scroll-behavior: smooth;
}

.topbar .logo {
  display: flex;
  text-align: center;
}

.topbar .logo img {
  margin-right: 18px;
  vertical-align: middle;
}

.topbar .logo p {
  color: #57d6ff;
  font-family: PulsarOriginal;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  vertical-align: middle;
}

.menu {
  display: flex;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  margin: 0 25px;
}

.menu ul li a {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%;
  text-decoration: none;
}
.active {
  border-bottom: 2px solid #00c5ff;
  height: 20px;
  padding-bottom: 8px;
}

/* MeinScreen */
.mein {
  width: 100%;
  height: 900px;
  align-items: center;
  justify-content: center; /* Добавьте выравнивание по центру */
  background: #141c24;
}

.mein .slider {
  width: 100%; /* Установите ширину 100% */
  max-width: 100%; /* Добавьте максимальную ширину 100% */
}

.mein .slider .swiper-slide {
  display: flex; /* Добавьте дисплей flex для слайдов */
  align-items: center; /* Выравнивание по центру по вертикали */
  justify-content: center; /* Выравнивание по центру по горизонтали */
}

.mein .slider .swiper-slide .conteiner_slider {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mein .slider .swiper-slide .conteiner_slider .title {
  display: flex;
  flex-direction: column;
}

.mein .slider .swiper-slide .conteiner_slider .title h1 {
  margin-top: -25px;
  font-family: Aire Exterior;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.mein .slider .swiper-slide .conteiner_slider .title h3 {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}

.mein .slider .swiper-slide .conteiner_slider a {
  display: flex;
  text-align: center;
  margin-top: 60px;
}

.mein .slider .swiper-slide .conteiner_slider p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: Aire Exterior;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mein .slider .image {
  max-width: 100%; /* Установите максимальную ширину изображения 100% */
  height: auto; /* Автоматически определить высоту изображения */
}

/* CloudGaming */

.cloudGaming {
  display: flex;
  width: 100%;
  height: 900px;
  background: #141c24;
  align-items: center;
  justify-content: space-around;
}

.cloudGaming hr {
  width: 50px;
  height: 0px;
  margin-right: 40px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #57d6ff;
  border: 1px solid rgb(49, 196, 232);
}

.cloudGaming h3 {
  text-decoration: underline;
  text-decoration-color: #00c5ff;
  text-underline-offset: 10px;
}

.cloudGaming_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 480px;
  max-height: 517px;
  flex-shrink: 0;
}

/* StartPlaying */

.startPlaying {
  display: flex;
  width: 100%;
  height: 700px;
  background: #141c24;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.startPlaying .image {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.startPlaying hr {
  width: 73px;
  height: 0px;
  background: #50afcd;
}

.startPlaying span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startPlaying img {
  margin-bottom: auto;
}

.startPlaying h3 {
  text-decoration: underline;
  text-decoration-color: #00c5ff;
  text-underline-offset: 10px;
}

/* rate */
.rates {
  display: flex;
  width: 100%;
  height: 900px;
  background: #141c24;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.hr hr {
  width: 582px;
  height: 0px;
  margin-top: 30px;
}

.rates_box {
  display: flex;
}

.rate {
  display: flex;
  width: 400px;
  height: 543px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #1f2631;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  white-space: pre-wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 10px;
}

.rate .text {
  display: flex;
  margin: 0 10px;
  flex-direction: column;
  width: 311px;
  margin: 0 15px;
}
.rate h2 {
  width: 311px;
  height: 90px;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.rate h4 {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rate button {
  width: 321px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #00c5ff;
  color: #141c24;
  font-family: Aire Exterior;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 43.2px */
}

.rate_act {
  background: #00c5ff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rate_act h2 h4 h5 button {
  color: #141c24;
}
